html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  width: 99%;
  height: 99%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#my_dataviz {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 200px;
}

#title {
  font-size: 3rem;
  margin-bottom: 10px;
}

select {
  border: none;
  background-color: transparent;
}

#description {
  padding-bottom: 1.5rem;
}

.tile-text {
  cursor: default;
}

div.tooltip {
  position: absolute;
  box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.6);
  border-radius: 4px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

div.tooltip > ul {
  list-style: none;
  padding: 0 10px;
}

div.tooltip > ul > li {
  text-align: left;
}

#legend {
  font-size: 15px;
  text-align: center;
  display: block;
  margin: auto;
  padding-bottom: 5px;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
