body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  color: #333;
  font-weight: 400;
}

#root {
  width: 90%;
  height: 90%;
  max-width: 1000px;
  max-height: 1000px;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content {
  margin: 5px;
  padding: 20px;
  width: 805px;
  border: 1px solid #ccc;
}

#my_dataviz {
  margin: 10px 0px 0px 0px;
  padding: 0px;
}

h1,
h2 {
  line-height: 1em;
  font-size: 1.75em;
  font-weight: 900;
  color: #000;
}

#title {
  text-align: center;
  margin-bottom: 10px;
}

#description {
  text-align: center;
  font-size: 0.9em;
  font-weight: normal;
  margin-bottom: 20px;
}

#container {
  display: flex;
  flex-direction: row;
}

h2.year {
  margin: 10px 10px 0px 0px;
  font-size: 1.3em;
  font-weight: 700;
}

p {
  margin: 10px 0px 0px 0px;
}

.county {
  fill: #000;
}

.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

input {
  display: block;
  width: 200px;
  margin: 10px 0px 0px 0px;
}

#legend text {
  font-size: 0.9em;
  color: #333;
  font-weight: 400;
}

#tooltip {
  position: absolute;
  padding: 7px;
  font-size: 0.9em;
  pointer-events: none;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;

  -moz-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25);
}

#tooltip p {
  margin: 0;
  padding: 0;
}

.wide {
  width: 140px;
}
